@font-face {
    font-family: 'Google September 2015';
    src: local('Google September 2015'),
        url('GoogleSeptember2015.woff2') format('woff2'),
        url('GoogleSeptember2015.woff') format('woff'),
        url('GoogleSeptember2015.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}